In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [3]:
df_pyspark = spark.read.csv('test3.csv',header=True,inferSchema=True)

In [4]:
df_pyspark.show()

+------------+---+----------+------+
|        Name|Age|Experience|Salary|
+------------+---+----------+------+
|       harsh| 20|         5| 30000|
|       krish| 30|        10| 25000|
|  naya ladka| 10|         2| 20000|
|purana ladka| 40|        15| 15000|
|  paul allen| 35|        10| 20000|
|        saul| 45|        20| 40000|
+------------+---+----------+------+

## Filter Operations

In [5]:
df_pyspark.filter('Salary<=20000').show()

+------------+---+----------+------+
|        Name|Age|Experience|Salary|
+------------+---+----------+------+
|  naya ladka| 10|         2| 20000|
|purana ladka| 40|        15| 15000|
|  paul allen| 35|        10| 20000|
+------------+---+----------+------+

In [6]:
df_pyspark.filter('Salary<=20000').select(['Name','Age']).show()

+------------+---+
|        Name|Age|
+------------+---+
|  naya ladka| 10|
|purana ladka| 40|
|  paul allen| 35|
+------------+---+

In [7]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+------------+---+----------+------+
|        Name|Age|Experience|Salary|
+------------+---+----------+------+
|  naya ladka| 10|         2| 20000|
|purana ladka| 40|        15| 15000|
|  paul allen| 35|        10| 20000|
+------------+---+----------+------+

In [9]:
df_pyspark.filter((df_pyspark['Salary']<=20000) &
                  (df_pyspark['Salary']>15000)).show()

+----------+---+----------+------+
|      Name|Age|Experience|Salary|
+----------+---+----------+------+
|naya ladka| 10|         2| 20000|
|paul allen| 35|        10| 20000|
+----------+---+----------+------+

In [10]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|harsh| 20|         5| 30000|
|krish| 30|        10| 25000|
| saul| 45|        20| 40000|
+-----+---+----------+------+