In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [5]:
spark

In [7]:
df_pyspark = spark.read.csv('test2.csv',header = True, inferSchema=True)

In [8]:
df_pyspark.show()

+------------+----+----------+------+
|        Name| Age|Experience|Salary|
+------------+----+----------+------+
|       harsh|  20|         5| 30000|
|       krish|  30|        10| 25000|
|  naya ladka|  10|         2| 20000|
|purana ladka|  40|        15| 15000|
|  paul allen|  35|        10| 20000|
|        saul|  45|        20| 40000|
|         cri|NULL|      NULL| 12000|
|        NULL|  34|         6| 35000|
|        NULL|  37|      NULL|  NULL|
+------------+----+----------+------+

In [9]:
## dropping columns
df_pyspark.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  20|         5| 30000|
|  30|        10| 25000|
|  10|         2| 20000|
|  40|        15| 15000|
|  35|        10| 20000|
|  45|        20| 40000|
|NULL|      NULL| 12000|
|  34|         6| 35000|
|  37|      NULL|  NULL|
+----+----------+------+

In [10]:
df_pyspark.show()

+------------+----+----------+------+
|        Name| Age|Experience|Salary|
+------------+----+----------+------+
|       harsh|  20|         5| 30000|
|       krish|  30|        10| 25000|
|  naya ladka|  10|         2| 20000|
|purana ladka|  40|        15| 15000|
|  paul allen|  35|        10| 20000|
|        saul|  45|        20| 40000|
|         cri|NULL|      NULL| 12000|
|        NULL|  34|         6| 35000|
|        NULL|  37|      NULL|  NULL|
+------------+----+----------+------+

In [11]:
df_pyspark.na.drop().show()

+------------+---+----------+------+
|        Name|Age|Experience|Salary|
+------------+---+----------+------+
|       harsh| 20|         5| 30000|
|       krish| 30|        10| 25000|
|  naya ladka| 10|         2| 20000|
|purana ladka| 40|        15| 15000|
|  paul allen| 35|        10| 20000|
|        saul| 45|        20| 40000|
+------------+---+----------+------+

In [12]:
df_pyspark.na.drop(how='any').show()

+------------+---+----------+------+
|        Name|Age|Experience|Salary|
+------------+---+----------+------+
|       harsh| 20|         5| 30000|
|       krish| 30|        10| 25000|
|  naya ladka| 10|         2| 20000|
|purana ladka| 40|        15| 15000|
|  paul allen| 35|        10| 20000|
|        saul| 45|        20| 40000|
+------------+---+----------+------+

In [15]:
df_pyspark.na.drop(how='any',thresh=2).show()

+------------+----+----------+------+
|        Name| Age|Experience|Salary|
+------------+----+----------+------+
|       harsh|  20|         5| 30000|
|       krish|  30|        10| 25000|
|  naya ladka|  10|         2| 20000|
|purana ladka|  40|        15| 15000|
|  paul allen|  35|        10| 20000|
|        saul|  45|        20| 40000|
|         cri|NULL|      NULL| 12000|
|        NULL|  34|         6| 35000|
+------------+----+----------+------+

In [17]:
df_pyspark.na.drop(how='any',subset='Age').show()

+------------+---+----------+------+
|        Name|Age|Experience|Salary|
+------------+---+----------+------+
|       harsh| 20|         5| 30000|
|       krish| 30|        10| 25000|
|  naya ladka| 10|         2| 20000|
|purana ladka| 40|        15| 15000|
|  paul allen| 35|        10| 20000|
|        saul| 45|        20| 40000|
|        NULL| 34|         6| 35000|
|        NULL| 37|      NULL|  NULL|
+------------+---+----------+------+

In [26]:
df_pyspark.na.fill({'Name':'Missing Names', 
                    'Age':0,
                    'Experience':0,
                    'Salary':0}).show()

+-------------+---+----------+------+
|         Name|Age|Experience|Salary|
+-------------+---+----------+------+
|        harsh| 20|         5| 30000|
|        krish| 30|        10| 25000|
|   naya ladka| 10|         2| 20000|
| purana ladka| 40|        15| 15000|
|   paul allen| 35|        10| 20000|
|         saul| 45|        20| 40000|
|          cri|  0|         0| 12000|
|Missing Names| 34|         6| 35000|
|Missing Names| 37|         0|     0|
+-------------+---+----------+------+

In [30]:
df_pyspark.na.fill('Missing Values','Name').show()

+--------------+----+----------+------+
|          Name| Age|Experience|Salary|
+--------------+----+----------+------+
|         harsh|  20|         5| 30000|
|         krish|  30|        10| 25000|
|    naya ladka|  10|         2| 20000|
|  purana ladka|  40|        15| 15000|
|    paul allen|  35|        10| 20000|
|          saul|  45|        20| 40000|
|           cri|NULL|      NULL| 12000|
|Missing Values|  34|         6| 35000|
|Missing Values|  37|      NULL|  NULL|
+--------------+----+----------+------+

In [31]:
df_pyspark.na.fill(0,'Experience').show()

+------------+----+----------+------+
|        Name| Age|Experience|Salary|
+------------+----+----------+------+
|       harsh|  20|         5| 30000|
|       krish|  30|        10| 25000|
|  naya ladka|  10|         2| 20000|
|purana ladka|  40|        15| 15000|
|  paul allen|  35|        10| 20000|
|        saul|  45|        20| 40000|
|         cri|NULL|         0| 12000|
|        NULL|  34|         6| 35000|
|        NULL|  37|         0|  NULL|
+------------+----+----------+------+

In [32]:
df_pyspark.show()

+------------+----+----------+------+
|        Name| Age|Experience|Salary|
+------------+----+----------+------+
|       harsh|  20|         5| 30000|
|       krish|  30|        10| 25000|
|  naya ladka|  10|         2| 20000|
|purana ladka|  40|        15| 15000|
|  paul allen|  35|        10| 20000|
|        saul|  45|        20| 40000|
|         cri|NULL|      NULL| 12000|
|        NULL|  34|         6| 35000|
|        NULL|  37|      NULL|  NULL|
+------------+----+----------+------+

In [35]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['Age','Experience','Salary'],
    outputCols = ['{}_imputed'.format(c) for c in ['Age','Experience','Salary']]
    ).setStrategy('mean')

In [36]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------------+----+----------+------+-----------+------------------+--------------+
|        Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+------------+----+----------+------+-----------+------------------+--------------+
|       harsh|  20|         5| 30000|         20|                 5|         30000|
|       krish|  30|        10| 25000|         30|                10|         25000|
|  naya ladka|  10|         2| 20000|         10|                 2|         20000|
|purana ladka|  40|        15| 15000|         40|                15|         15000|
|  paul allen|  35|        10| 20000|         35|                10|         20000|
|        saul|  45|        20| 40000|         45|                20|         40000|
|         cri|NULL|      NULL| 12000|         31|                 9|         12000|
|        NULL|  34|         6| 35000|         34|                 6|         35000|
|        NULL|  37|      NULL|  NULL|         37|                 9|         24625|
+------------+----+----------+------+-----------+------------------+--------------+