In [40]:
### install pyspark, pandas

In [25]:
import pyspark

In [26]:
import pandas as pd
df_pandas = pd.read_csv('test1.csv')

In [27]:
df_pandas

         name  age  experience
0       harsh   20           5
1       krish   30          10
2  naya ladka   10           2

In [28]:
type(df_pandas)

pandas.core.frame.DataFrame

In [29]:
from pyspark.sql import SparkSession

In [30]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [31]:
spark

In [32]:
df_pyspark = spark.read.csv('test1.csv')

In [33]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string]

In [34]:
df_pyspark.show()

+----------+---+----------+
|       _c0|_c1|       _c2|
+----------+---+----------+
|      name|age|experience|
|     harsh| 20|         5|
|     krish| 30|        10|
|naya ladka| 10|         2|
+----------+---+----------+

In [41]:
df_pyspark = spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [36]:
df_pyspark.show()

+----------+---+----------+
|      name|age|experience|
+----------+---+----------+
|     harsh| 20|         5|
|     krish| 30|        10|
|naya ladka| 10|         2|
+----------+---+----------+

In [37]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [38]:
df_pyspark.head(3)

[Row(name='harsh', age='20', experience='5'),
 Row(name='krish', age='30', experience='10'),
 Row(name='naya ladka', age='10', experience='2')]

In [43]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [46]:
##E easy way to read csv file
df_pyspark = spark.read.csv('test1.csv',header=True,inferSchema=True)

In [47]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [49]:
df_pyspark.columns

['name', 'age', 'experience']

In [50]:
df_pyspark.select('Name')

DataFrame[Name: string]

In [51]:
df_pyspark.select('Name').show()

+----------+
|      Name|
+----------+
|     harsh|
|     krish|
|naya ladka|
+----------+

In [53]:
df_pyspark.select(['Name','Experience']).show()

+----------+----------+
|      Name|Experience|
+----------+----------+
|     harsh|         5|
|     krish|        10|
|naya ladka|         2|
+----------+----------+

In [54]:
### slicing doesnt work in pyspark

In [56]:
df_pyspark['Name']
### use select function as shown before and not this

Column<'Name'>

In [59]:
df_pyspark.dtypes

[('name', 'string'), ('age', 'int'), ('experience', 'int')]

In [60]:
df_pyspark.describe()

DataFrame[summary: string, name: string, age: string, experience: string]

In [61]:
df_pyspark.describe().show()

+-------+----------+----+-----------------+
|summary|      name| age|       experience|
+-------+----------+----+-----------------+
|  count|         3|   3|                3|
|   mean|      NULL|20.0|5.666666666666667|
| stddev|      NULL|10.0|4.041451884327381|
|    min|     harsh|  10|                2|
|    max|naya ladka|  30|               10|
+-------+----------+----+-----------------+

In [62]:
df_pyspark.withColumn('Experience After 2 Years',df_pyspark['experience']+2).show()

+----------+---+----------+------------------------+
|      name|age|experience|Experience After 2 Years|
+----------+---+----------+------------------------+
|     harsh| 20|         5|                       7|
|     krish| 30|        10|                      12|
|naya ladka| 10|         2|                       4|
+----------+---+----------+------------------------+

In [63]:
df_pyspark = df_pyspark.withColumn('Experience After 2 Years',df_pyspark['experience']+2)

In [65]:
df_pyspark.show()

+----------+---+----------+------------------------+
|      name|age|experience|Experience After 2 Years|
+----------+---+----------+------------------------+
|     harsh| 20|         5|                       7|
|     krish| 30|        10|                      12|
|naya ladka| 10|         2|                       4|
+----------+---+----------+------------------------+

In [66]:
df_pyspark.drop('Experience After 2 Years').show()

+----------+---+----------+
|      name|age|experience|
+----------+---+----------+
|     harsh| 20|         5|
|     krish| 30|        10|
|naya ladka| 10|         2|
+----------+---+----------+

In [67]:
df_pyspark = df_pyspark.drop('Experience After 2 Years')

In [68]:
df_pyspark.show()

+----------+---+----------+
|      name|age|experience|
+----------+---+----------+
|     harsh| 20|         5|
|     krish| 30|        10|
|naya ladka| 10|         2|
+----------+---+----------+

In [69]:
df_pyspark.withColumnRenamed('Name','New Name').show()

+----------+---+----------+
|  New Name|age|experience|
+----------+---+----------+
|     harsh| 20|         5|
|     krish| 30|        10|
|naya ladka| 10|         2|
+----------+---+----------+